.descriptionBlock{
    padding:20px;
}
.titleText{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Inter',sans-serif;
    color: #353A49;
}
.priceWatch{
    font-size: 20px;
    font-weight: bold;
    color: #353A49;
}
.line{
    width: 80%;
    margin-right: 120px;
}
.imgFitbit{
    width: 140px;
    height: 140px;
    border: 1px solid #353A49;
    border-radius: 6px;
}
.descriptionText{
    color:#353A49;
}

.picturesFitbit{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-bottom: 80px;
}
.picturesFitbit :hover{
    cursor: pointer;
}