.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.img{
    width: 20px;
    height: 20px;
}

.icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.list2{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:10px;
    color:#57626B;
}