
.spain{
    height: 2.5rem;
    width: 100%;
    /*background-color: #F8F9FA;*/
    margin-top:20px;
    display:flex;
    flex-direction: row;  
    justify-content: space-between; 
    /*align-items: center;*/
    position:absolute;
    bottom: 0;
}


.footer1{
    height: 2.5rem;
    width: 100%;
    /*background-color: #F8F9FA;*/
    margin-top:20px;
    display:flex;
    flex-direction: row;  
    justify-content: space-between; 
    /*align-items: center;*/
    position:absolute;
    bottom: 0;
    list-style: none;
}