.NavMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.NavText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Img{
    width: 20px;
    height: 20px;
}
.ImgGoogle{
    width: 34px;
    height:34px;
    margin-left: 20px;
}
.List{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:10px;
    color:#57626B;
}
.NavIcon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.NavWatches{
    color:#1A73E8;
}